/* Global Styles */

body,
button,
input,
textarea {
    font-family: "Courier New", monospace;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

textarea {
    width: 100%;
    resize: vertical;
}

button:hover {
    cursor: pointer;
}

/* System Styles */

#__topBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 32px;
    background-color: #f0f0f0;
    width: 100%;
    z-index: 101;
    border-bottom: solid 1px;
    display: flex;
    color: black;
    overflow-y: hidden;
    align-items: center;
}

.__topButton {
    border: 0;
    border-color: black;
    width: 32px;
    height: 32px;
    border-radius: 0;
    font-size: 24px;
    overflow-y: hidden;
    position: fixed;
    color: black;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 32px;
    text-align: center;
}

#__navBar {
    height: 100%;
    width: 0px;
    z-index: 100;
    top: 32px;
    left: 0;
    background-color: #f0f0f0;
    overflow: hidden;
    transition: width 0.5s, border 0s 0.5s;
    position: fixed;
    border-right: solid 0px;
    white-space: nowrap;
    text-align: left;
}

.__navOpen #__navBar {
    transition: width 0.5s, border 0s 0s;
    width: 255px;
    border-right: solid 1px;
}

#__main {
    position: fixed;
    top: 32px;
    bottom: 0;
    right: 0;
    padding: 0;
    transition: left 0.5s;
    left: 0;
    overflow-y: scroll;
}

.__navOpen #__main {
    left: 256px;
}

.__topButtonL {
    border-right: solid 1px;
}

.__topButtonR {
    border-left: solid 1px;
}

#__search {
    border: 0;
    left: 256px;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    font-size: 16px;
}

#__homeButton {
    width: 224px;
    left: 32px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

/* Program Styles */

._standard {
    max-width: 1024px;
    width: 100%;
    margin: auto;
    padding: 8px;
}

/* Small Screens */

@media only screen and (max-width: 768px) {
    .__navOpen #__navBar {
        width: 100%;
    }

    .__navOpen #__main {
        left: 0;
    }

    #__topBar>button:not(#__navButton) {
        display: none;
    }

    #__search {
        border: 0;
        left: 32px;
        right: 0;
    }
}